.WelcomeMessage {
    background-color:teal;
    font-size: 26pt;
    width:1200pt;
}
.jumbotron  {
    background-color: teal;
}
.tile {
    display:inline-block;
    width:205px;
    text-align: center;
    vertical-align: middle;
    height:150px;
    line-height: 50px;
    background-color:silver;
    font-size: 18pt;
    margin: 10px;
}
.SetDesc {
    background-color:gray;
    font-size:20pt;
    width:1200pt;
}
.catMth {
    display:inline-block;
    width:150px;
    text-align: center;
    vertical-align: middle;
    height:100px;
    line-height: 50px;
    background-color: gray;
    font-size: 16pt;
    margin: 10px;
}